/**
 * 通用css样式布局处理
 * Copyright (c) 2018 wstom
 */

/** 全局 样式布局 */
html, body {
    height: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, hr, p, iframe, dl, dt, dd, ul, ol, li, pre, form, button, input, textarea, th, td, fieldset {
    margin: 0;
    padding: 0
}

ul, ol, dl {
    list-style-type: none
}

html, body {
    *position: static
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400
}

input, button, textarea, select, optgroup, option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input, button {
    overflow: visible;
    vertical-align: middle;
    outline: none
}

body, th, td, button, input, select, textarea {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    font-size: 13px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

body {
    line-height: 1.6
}

a, area {
    outline: none;
    blr: expression(this.onFocus=this.blur())
}

a {
    text-decoration: none;
    cursor: pointer
}

a:hover {
    text-decoration: underline;
    outline: none
}

a.ie6:hover {
    zoom: 1
}

a:focus {
    outline: none
}

a:hover, a:active {
    outline: none
}

:focus {
    outline: none
}

sub, sup {
    vertical-align: baseline
}

button, input[type="button"], input[type="submit"] {
    line-height: normal !important
}

/*img*/
img {
    border: 0;
    vertical-align: middle
}

a img, img {
    -ms-interpolation-mode: bicubic
}

.img-responsive {
    max-width: 100%;
    height: auto
}

/*IE下a:hover 背景闪烁*/
* html {
    overflow: -moz-scrollbars-vertical;
    zoom: expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}(this))
}

/*HTML5 reset*/
header, footer, section, aside, details, menu, article, section, nav, address, hgroup, figure, figcaption, legend {
    display: block;
    margin: 0;
    padding: 0
}

time {
    display: inline
}

audio, canvas, video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

legend {
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

legend small {
    font-size: 15px;
    color: #999
}

svg:not(:root) {
    overflow: hidden
}

fieldset {
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

.main-container .main-content {
    overflow: auto;
    height: 100%;
}

.main-container .main-content .main-content-inner {
    float: left;
    width: 100%;
    overflow: auto;
    height: 100%;
}

.w-25 {
    width: 25%;
}

.w-30 {
    width: 30%;
}

.w-45 {
    width: 45%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 50%;
    height: 50%;
    margin: 20px auto;

}

.w-100 {
    width: 100%;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

/*图片列表*/
.pic-list {
    margin: 0 auto;
    background-color: #fff;
}

.pic-list #m-content ul {
    margin-left: 0;
    overflow: hidden;
}

.pic-list #m-content ul li {
    float: left;
    width: 23%;
    height: 210px;
    position: relative;
    margin: 0 12px;
}

.pic-list #m-content ul li > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 666;
    justify-content: center;
}


.pic-list #m-content ul li > a img {
    height: 210px;
}

.pic-list #m-content ul li span {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    color: #fff;
    font-size: 15px;
    padding: 3px 0;
}

.pic-list .pic-list-constant {
    margin-bottom: 20px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.18);
    position: relative;
    transition: all 1s ease 0s;
    overflow: hidden;
    margin-right: 9px;
    margin-left: 9px;
    padding: 0;
}

.pic-list .pic-list-constant:hover {
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

.pic-list .pic-list-constant:hover img.pic-list-constant-img {
    -webkit-filter: brightness(.5);
    filter: brightness(.5);
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
}

.pic-list a.pic-list-constant-item {
    display: block;
    margin-left: 12px;
    margin-right: 12px;
}

.pic-list img.pic-list-constant-img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 1s ease 0s;
}

.pic-list .cover-info {
    padding: 6px 15px 28px;
    height: 90px;
    overflow: hidden;
    color: #6FAED9;
}

.pic-list .cover-info .fa {
    font-size: 18px;
    float: left;
    line-height: 35px;
}

.pic-list .cover-info h4 {
    font-size: 20px;
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    display: inline-block;
    font-weight: bold;
    line-height: 18px;
    margin: 7px 5px 5px;
    height: 28px;
}

.pic-list .cover-fields {
    bottom: 34px;
    font-size: 12px;
    height: 35px;
    left: 10px;
    line-height: 35px;
    max-width: 210px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 1200px) {
    .col-lg-4 {
        width: 23.2%;
    }
}

/**
分页样式
 */
#m-pagination {
    text-align: center;
    font-size: 14px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    clear: both;
    margin-left: -135px;
}

#m-pagination .pager-status {
    line-height: 76px;
    margin: 0 6px;
}

#m-content {
    clear: both;
}

#m-content ul {
    list-style: none;
}


.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed !important;
}
.justify-content-center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.container-div {
    padding: 10px 15px;
    height: 100%;
}

.container-div .row {
    /*height: 100%;*/
}
.search-collapse, .select-table {
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 3px;
    padding-bottom: 10px;
    box-shadow: 0 1px 10px rgba(0,0,0,.2)
}

/** 按钮样式 开始 */
.btn-rounded {
    border-radius: 50px !important;
}
.btn-group>.btn>.caret {
    margin-top: 0 !important;
}
.btn-outline {
    color: inherit;
    background-color: transparent;
    -webkit-transition: all .5s;
    transition: all .5s;
}
.select-list li {
    color: #333;
    margin: 5px 15px 5px 0px;
}

.btn.btn-default {
    background-color: #fff;
    border: 1px solid #ccc;
    border-width: 1px !important;
    border-radius: 4px;
    color: #333 !important;
}

.btn.btn-default:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border-color: #adadad;
}

@media (min-width: 768px){
    .select-list li {
        float: left;
    }
}
.select-list li select {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
    outline: none;
    height: 30px;
    width: 280px;
}
.select-list li input {
    border: 1px solid #ddd;
    border-radius: 4px;
    background: transparent;
    outline: none;
    height: 28px;
    width: 200px;
    padding-left: 5px;
}

.select-list li .r {
    width: 280px;
}

/** 复选框&单选框  */
.check-box,.radio-box {
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    padding-right: 15px;
    padding-top: 6px;
}

.icheckbox, .icheckbox-blue, .iradio, .iradio-blue, .iradio-purple {
    position: absolute;
    top: 8px;
    left: 0
}

/* iCheck */
.icheckbox-blue,.iradio-blue {
    display: block;
    margin: 0;
    padding: 0;
    width: 18px;
    height: 18px;
    background: url(../img/components/blue.png) no-repeat;
    border: none;
    cursor: pointer
}

.icheckbox-blue,.icheckbox-blue.static:hover {
    background-position: 0 0
}

.icheckbox-blue.hover,.icheckbox-blue:hover {
    background-position: -20px 0
}

.icheckbox-blue.checked {
    background-position: -40px 0
}

.icheckbox-blue.disabled {
    background-position: -60px 0;
    cursor: default
}

.icheckbox-blue.checked.disabled {
    background-position: -80px 0
}

.iradio-blue,.iradio-blue.static:hover {
    background-position: -100px 0
}

.iradio-blue.hover,.iradio-blue:hover {
    background-position: -120px 0
}

.iradio-blue.checked {
    background-position: -140px 0
}

.iradio-blue.disabled {
    background-position: -160px 0;
    cursor: default
}

.iradio-blue.checked.disabled {
    background-position: -180px 0
}

.onoffswitch {
    position: relative;
    width: 64px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch {
    position: relative;
    width: 54px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #1AB394;
    border-radius: 3px;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 0;
    background: #FFFFFF;
    border: 2px solid #1AB394;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    -webkit-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -webkit-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px !important;
    background-color: #1AB394;
    color: #FFFFFF;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    /* height: 16px; */
    padding: 0;
    /* line-height: 16px; */
    font-size: 10px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left;
    width: 50%;
    height: 20px;
    padding: 0;
    line-height: 20px;
    font-size: 12px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 7px !important;
    background-color: #FFFFFF;
    color: #919191;
    text-align: right;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    /* height: 16px; */
    padding: 0;
    /* line-height: 16px; */
    font-size: 10px;
    /* color: white; */
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    height: 20px;
    line-height: 20px;
}
/** 按钮样式 结束 */

.main-container .footer {
    background-color: #fff;
    width: 100%;
    position: relative;
}
/** 遮罩层 */
.loader-box {
    z-index: 999999;
    display: inline-block;
    min-width: 125px;
    padding: 10px;
    margin: 0 auto;
    color: #000 !important;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #ddd;
    background-color: #eee;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
}

.loader-box .loading-activity {
    float: left;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: solid 2px transparent;
    border-top-color: #000;
    border-left-color: #000;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@media (max-width: 767px) {
    .loading-activity {
        width: 18px;
        height: 18px;
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.table-striped .table, .fixed-table-container, table, .table-striped .table, .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    background-color: transparent !important;
    border: 0;
    border-bottom: 1px solid #e7eaec !important;
}
.table-striped .table>thead>tr {
    background: transparent none;
}


/** 登陆 样式布局 */
.login-container {
    background: url(../img/bg/20180305134353_26696.jpg) center;
    vertical-align: middle;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
}

.page-top-box {
    background-image: url(../img/bg/indexbg_01.jpg);
    background-color:  #2c6545;
    background-position: center;
    -moz-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}
.page-top-box.infotop{
    background: none;
    border-bottom: 1px solid rgba(255,255,255,.3);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 20
}


.page-top-box .top{ position: relative; height: 100px;  z-index: 4;  }
.page-top-box .top .logo{ position: absolute; left: 0px; top: 50%; height: 60px; margin-top: -30px;display: block; }
.page-top-box .top .logo img{ display: block; height: 100%; }

.form.w-75{
    padding-left: 50px;
}

.login-container .login-content {
    overflow: auto;
    height: 50%;
}

.login-content {
    position: absolute;
    top: 50%;
    left:50%;
    width: 600px;
    height: 300px;
    margin:-150px 0 0 -300px;
    background-color: rgba(101, 105, 142, .5);
}

.btn-login {
    margin-top: 35px;
    font-size: 16px;
}

/* Validation */
label.error {
    color: #f43333;
    display: inline-block;
    margin-left: 5px;
}

/** 后台首页 样式布局 */
/* WRAPPERS */
#wrapper {
    width: 100%;
    overflow-x: hidden;
    background-color: #2f4050;
}

.navbar-default {
    background-color: transparent;
    border-color: #2f4050;
    position: relative;
}

.navbar-default .special_link a {
    background: #1ab394;
    color: white;
}

.navbar-default .special_link a:hover {
    background: #17987e !important;
    color: white;
}

.navbar-default .special_link a span.label {
    background: #fff;
    color: #1ab394;
}

.navbar-default .landing_link a {
    background: #1cc09f;
    color: white;
}

.navbar-default .landing_link a:hover {
    background: #1ab394 !important;
    color: white;
}

.navbar-default .landing_link a span.label {
    background: #fff;
    color: #1cc09f;
}

.navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
    background-color: #293846;
    color: white;
}

/** 弹窗样式 */
.white-bg {
    background-color: #fff;
}
.wrapper {
    padding: 0 20px;
}
.wrapper-content {
    padding: 20px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.ibox:after, .ibox:before {
    display: table;
}

.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 0px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 40px;
}
.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
    clear: both;
}

.ibox-content .ibox-item {
    display: flex;
    flex-direction: column;
}

.ibox-content .ibox-item .ibox-item-title {
    font-size: 16px;
    font-weight: bold;
}

.box-main {
    margin: 0;
    border: 0;
    padding-top: 2px;
    border-radius: 0;
    box-shadow: none
}

.box-main > .box-header {
    border-bottom: 1px solid #eee;
    padding: 12px 10px 2px 15px
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.box-main > .box-header .box-title {
    font-size: 16px;
    margin-bottom: 13px;
    float: left
}

.box-main > .box-header .box-title .fa {
    font-size: 14px;
    padding-right: 3px;
    margin-top: -2px
}

.box-main > .box-header .box-tools {
    position: relative;
    top: -5px;
    right: 0
}

.box-main > .box-header .box-tools .btn {
    padding: 3px 10px 5px 10px;
    font-size: 14px;
    margin-bottom: 2px
}

.box-main > .box-header .box-tools .btn-box-tool {
    padding: 4px 2px
}

.box-main form > .box-footer, .nav-main form > .box-footer {
    background: #fafafa
}

.box-main form > .box-footer .row, .nav-main form > .box-footer .row {
    margin: 5px 0 5px -25px
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table
}

.box-header:after, .box-body:after, .box-footer:after {
    clear: both
}

.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3;
}

.open .btn-box-tool,
.btn-box-tool:hover {
    color: #606c84;
}

/* 内部侧旁菜单栏 */
.col-menu-left {
    width: 100%;
    height: 100%;
    border-right: 1px solid #CCCCCC;
    background: #FFFFFF;
    color: #000000;
    font-size: 14px;
    text-align: center;
}

.col-menu {
    text-align: center;
    padding-top: 10px;
    height: 100%;
}

.col-menu-item, .col-menu-item-pad {
    height: 40px;
    display: block;
    line-height: 40px;
    cursor: pointer;
    font-size: 14px;
    position: relative;
    border-bottom: #ccc 1px dotted;
    text-decoration: none;
    color: #616161;
}

.col-menu-item:hover, .col-menu-item-pad:hover {
    background: #F1F5F9
}

.col-menu-item-pad,
.col-menu-top {
    border-bottom: #ccc 1px dotted;
}

.col-menu-top img {
    max-width: 249px;
}

.item-sub {
    display: none;
}

.item-sub .col-menu-item {
    font-size: 13px;
}

.inline-layout-container-div {
    padding-bottom: 12px;
}

.tabs-panels .panel .panel-body {
    padding: 20px;
}