<#--<!DOCTYPE html>-->
<#--<html>-->
<#--<head>-->
<#--    <title>提示</title>-->
<#--    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">-->
<#--    <!-- IE8/9及以后的版本用最新的引擎渲染网页 &ndash;&gt;-->
<#--    <meta content="IE=edge" http-equiv="X-UA-Compatible">-->
<#--    <!-- bootstrap2环境使用 &ndash;&gt;-->
<#--&lt;#&ndash;    <link rel="stylesheet" href="/bdialog/b.dialog.css" type="text/css">&ndash;&gt;-->
<#--    <!-- bootstrap3环境使用 &ndash;&gt;-->
<#--&lt;#&ndash;    <link rel="stylesheet" href="/bdialog/b.dialog.bootstrap3.css" type="text/css">&ndash;&gt;-->
<#--&lt;#&ndash;    <script src="/js/jquery-1.11.3.min.js"></script>&ndash;&gt;-->
<#--    <!-- 拖拽功能库 &ndash;&gt;-->
<#--&lt;#&ndash;    <script type="text/javascript" src="/bdialog/jquery-ui.min.js" ></script>&ndash;&gt;-->
<#--    <!-- 插件核心脚本 &ndash;&gt;-->
<#--&lt;#&ndash;    <script type="text/javascript" src="/bdialog/b.dialog.js" ></script>&ndash;&gt;-->
<#--    <link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />-->
<#--    <style>-->
<#--        .btn-myStyle{ background-color: #2c3e50; color:#fff}-->
<#--        .btn-myStyle:hover,.btn-myStyle:focus{color:#fff;text-decoration: none;}-->
<#--    </style>-->

<#--</head>-->
<#--<body>-->
<#--&lt;#&ndash;<@shiro.hasRole name="sds_admin">&ndash;&gt;-->
<#--&lt;#&ndash;    <script type="text/javascript" language="javascript">&ndash;&gt;-->
<#--&lt;#&ndash;        if (confirm("您当前拥有多个角色,是否跳转到下级管理员")){&ndash;&gt;-->
<#--&lt;#&ndash;            let wp = window;&ndash;&gt;-->
<#--&lt;#&ndash;            wp.location.href='${ctx}/sdsadmin/role/totea_sds';&ndash;&gt;-->
<#--&lt;#&ndash;        }else {&ndash;&gt;-->
<#--&lt;#&ndash;            let wp = window;&ndash;&gt;-->
<#--&lt;#&ndash;            wp.location.href='/admin/index2';&ndash;&gt;-->
<#--&lt;#&ndash;        }&ndash;&gt;-->
<#--&lt;#&ndash;    </script>&ndash;&gt;-->
<#--&lt;#&ndash;</@shiro.hasRole>&ndash;&gt;-->
<#--&lt;#&ndash;<button id="test" class="btn btn-default">测试</button>&ndash;&gt;-->
<#--<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>-->
<#--<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>-->
<#--<script src="/js/bootbox.min.js"></script>-->

<#--<script>-->
<#--    <@shiro.lacksRole name="sds_admin">-->
<#--         window.location.href = '/admin';-->
<#--    </@shiro.lacksRole>-->
<#--</script>-->

<#--<script>-->
<#--    // $(document).on("click", "#test", function (e) {-->
<#--        /*bootbox.confirm("Hello world!", function (result) {-->
<#--            if(result) {-->
<#--                alert('点击了确认按钮');-->
<#--            } else {-->
<#--                alert('点击了取消按钮');-->
<#--            }-->
<#--        });-->
<#--        bootbox.dialog({-->
<#--            message: "I am a custom confirm",-->
<#--            title: "Confirm title",-->
<#--            buttons: {-->
<#--                Cancel: {-->
<#--                    label: "Cancel",-->
<#--                    className: "btn-default",-->
<#--                    callback: function () {-->
<#--                        alert("Cancel");-->
<#--                    }-->
<#--                }-->
<#--                , OK: {-->
<#--                    label: "OK",-->
<#--                    className: "btn-primary",-->
<#--                    callback: function () {-->
<#--                        alert("OK");-->
<#--                    }-->
<#--                }-->
<#--            }-->
<#--        });-->

<#--    bootbox.confirm({-->
<#--    buttons: {-->
<#--        confirm: {-->
<#--            label: '我是确认按钮',-->
<#--            className: 'btn-myStyle'-->
<#--        },-->
<#--        cancel: {-->
<#--            label: '我是取消按钮',-->
<#--            className: 'btn-default'-->
<#--        }-->
<#--    },-->
<#--    message: '提示信息',-->
<#--    callback: function(result) {-->
<#--        if(result) {-->
<#--            alert('点击确认按钮了');-->
<#--        } else {-->
<#--            alert('点击取消按钮了');-->
<#--        }-->
<#--    },-->
<#--    //title: "bootbox confirm也可以添加标题哦",-->
<#--    });*/-->
<#--    //     bootbox.alert({-->
<#--    //         buttons: {-->
<#--    //             ok: {-->
<#--    //                 label: '我是ok按钮',-->
<#--    //                 className: 'btn-myStyle'-->
<#--    //             }-->
<#--    //         },-->
<#--    //         message: '提示信息',-->
<#--    //         callback: function() {-->
<#--    //             alert('关闭了alert');-->
<#--    //         },-->
<#--    //         title: "bootbox alert也可以添加标题哦",-->
<#--    //     });-->
<#--    // });-->
<#--    $(function() {-->
<#--        bootbox.dialog({-->
<#--            message: "选择角色",-->
<#--            title: "检测您拥有多个角色，请选择角色登陆",-->
<#--            buttons: {-->
<#--                Cancel: {-->
<#--                    label: "教师",-->
<#--                    className: "btn-primary",-->
<#--                    callback: function () {-->
<#--                        alert("已选择教师");-->
<#--                        let wp = window;-->
<#--                        wp.location.href='${ctx}/admin/index2'-->
<#--                    }-->
<#--                }-->
<#--                , OK: {-->
<#--                    label: "下级管理员",-->
<#--                    className: "btn-primary",-->
<#--                    callback: function () {-->
<#--                        alert("已选择下级管理员");-->
<#--                        let wp = window;-->
<#--                        wp.location.href='${ctx}/sdsadmin/role/totea_sds'-->
<#--                    }-->
<#--                }-->
<#--            }-->
<#--        });-->
<#--    });-->
<#--</script>-->



<#--</body>-->
<#--&lt;#&ndash;<script type="text/javascript">&ndash;&gt;-->
<#--&lt;#&ndash;    $(function() {&ndash;&gt;-->
<#--&lt;#&ndash;        //初始化插件&ndash;&gt;-->
<#--&lt;#&ndash;        // bDialog.open({&ndash;&gt;-->
<#--&lt;#&ndash;        //     title : '窗口标题',&ndash;&gt;-->
<#--&lt;#&ndash;        //     width : 500,&ndash;&gt;-->
<#--&lt;#&ndash;        //     height : 450,&ndash;&gt;-->
<#--&lt;#&ndash;        //     url : 'http://baidu.com'&ndash;&gt;-->
<#--&lt;#&ndash;        // });&ndash;&gt;-->
<#--&lt;#&ndash;        // bDialog.alert('这是一个最简单的消息提示');&ndash;&gt;-->
<#--&lt;#&ndash;        bootbox.dialog({&ndash;&gt;-->
<#--&lt;#&ndash;            message: "<iframe id='ifr' width=100% height=600px frameborder=0 src='SelectImgFromWeiXinMessage.aspx' scrolling=false ></iframe>",&ndash;&gt;-->
<#--&lt;#&ndash;            title: "选择图片",&ndash;&gt;-->
<#--&lt;#&ndash;            buttons: {&ndash;&gt;-->
<#--&lt;#&ndash;                Cancel: {&ndash;&gt;-->
<#--&lt;#&ndash;                    label: "Cancel",&ndash;&gt;-->
<#--&lt;#&ndash;                    className: "btn-default",&ndash;&gt;-->
<#--&lt;#&ndash;                    callback: function () {&ndash;&gt;-->
<#--&lt;#&ndash;                    }&ndash;&gt;-->
<#--&lt;#&ndash;                }&ndash;&gt;-->
<#--&lt;#&ndash;                , OK: {&ndash;&gt;-->
<#--&lt;#&ndash;                    label: "OK",&ndash;&gt;-->
<#--&lt;#&ndash;                    className: "btn-primary",&ndash;&gt;-->
<#--&lt;#&ndash;                    callback: function () {&ndash;&gt;-->
<#--&lt;#&ndash;                        //debugger;&ndash;&gt;-->
<#--&lt;#&ndash;                        //var src= window.frames["ifr"].document.getElementById("imgsrc").value;&ndash;&gt;-->
<#--&lt;#&ndash;                        //alert(src);&ndash;&gt;-->
<#--&lt;#&ndash;                    }&ndash;&gt;-->
<#--&lt;#&ndash;                }&ndash;&gt;-->
<#--&lt;#&ndash;            }&ndash;&gt;-->
<#--&lt;#&ndash;        });&ndash;&gt;-->
<#--&lt;#&ndash;    });&ndash;&gt;-->
<#--&lt;#&ndash;</script>&ndash;&gt;-->

<#--</html>-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>${pageTitle}</title>

    <meta name="description" content="${description}"/>
    <meta name="keywords" content="${keywords}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <#include "/common/style.ftl"/>
    <style type="text/css">
        .type1 {
            position: fixed;
            left: 50%;
            top: 50%;
            width: 300px;
            height: 100px;
            margin: -100px 0px 0px -150px;
            border: 5px solid #888;
            background-color: rgba(255, 140, 0, 0.5);
            text-align: center;
        }

        .type2 {
            background-color: rgba(255, 140, 0, 0.1);
            border-style: groove;
            border-color: rgb(184, 134, 11)
        }
    </style>

</head>


<body class="no-skin gray-bg">
<#--<script>-->
<#--    <@shiro.lacksRole name="sds_admin">-->
<#--    window.location.href = '/admin/teacher';-->
<#--    </@shiro.lacksRole>-->
<#--</script>-->
<#--<div id="navbar" class="navbar navbar-default ace-save-state navbar-fixed-top">-->
<#--    <div class="navbar-container ace-save-state" id="navbar-container">-->
<#--        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">-->
<#--            <span class="sr-only">Toggle sidebar</span>-->

<#--            <span class="icon-bar"></span>-->

<#--            <span class="icon-bar"></span>-->

<#--            <span class="icon-bar"></span>-->
<#--        </button>-->

<#--        <div class="navbar-header pull-left">-->
<#--            <a href="/admin" class="navbar-brand">-->
<#--                <small>-->
<#--                    <i class="fa fa-leaf"></i>-->
<#--                    智慧教育云服务平台后台管理-->
<#--                </small>-->
<#--            </a>-->
<#--        </div>-->

<#--        <div class="navbar-buttons navbar-header pull-right" role="navigation">-->
<#--            <ul class="nav ace-nav">-->
<#--                <li class="light-blue dropdown-modal">-->
<#--                    <a data-toggle="dropdown" href="#" class="dropdown-toggle">-->
<#--                        <img class="nav-sysUser-photo" src="/img/avatars/user.jpg" alt="Jason's Photo"/>-->
<#--                        <span class="sysUser-info">-->
<#--                                <small>欢迎您：</small>-->
<#--                                <@shiro.principal property="userName"/>-->
<#--                            </span>-->

<#--                        <i class="ace-icon fa fa-caret-down"></i>-->
<#--                    </a>-->

<#--                    <ul class="sysUser-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">-->

<#--                        <li class="divider"></li>-->
<#--                        <li>-->
<#--                            <a href="/logout">-->
<#--                                <i class="ace-icon fa fa-power-off"></i>-->
<#--                                登出-->
<#--                            </a>-->
<#--                        </li>-->
<#--                    </ul>-->
<#--                </li>-->
<#--            </ul>-->
<#--        </div>-->
<#--    </div><!-- /.navbar-container &ndash;&gt;-->
<#--</div>-->

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>
    <div class="main-content" >
        <div class="main-content-inner" >
            <div class="breadcrumbs ace-save-state breadcrumbs-fixed" style="margin-top: 250px"  id="breadcrumbs">
                <#--                <ul class="breadcrumb">-->
                <#--                    <li>-->
                <#--                        <i class="ace-icon fa fa-home home-icon"></i>-->
                <#--                        <a href="/admin">首页</a>-->
                <#--                    </li>-->
                <#--                    <li class="active "></li>-->

                <#--                </ul><!-- /.breadcrumb &ndash;&gt;-->
                <!-- PAGE CONTENT BEGINS -->



                <div class="widget-header widget-header-large" style="text-align: center;">
                    <h3 class="widget-title grey lighter">
                        <i class="ace-icon fa fa-leaf green"></i>
                        请选择角色权限
                    </h3>
                </div>

                <div class="widget-body" >
                    <div class="widget-main padding-24 align-center">
                        <div class="row">
                            <div class="col-sm-12">
                                <#list roles as item>
                                    <div class="label label-info arrowed-in arrowed-right">
                                        <button class="btn btn-lg btn-success " onclick="SclickLoad('${item.roleKey}')">${item.roleName}</button>
                                    </div>
                                </#list>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div>
                </div>

            </div><!-- /.main-content -->


            <!-- /.main-container -->

            <!-- basic scripts -->





        </div>
    </div>
</div>
<#include "/common/footer.ftl">
<script >

    function SclickLoad(item) {
        let wp = window;
        wp.location.href='/admin/'+item;
    }
</script>
</body>

</html>
